{{>menu}}

<div class='feed-container'>
  <h1>The pets!</h1>

  {{#each pets}}
  <p>Name: {{this.petName}}</p>
  <p>Kind: {{this.type}}</p>
  <p>Size: {{this.size}}</p>
  <a href="pet/{{this._id}}"><img src="{{this.picture}}"></a>
  {{/each}}

  <a href="/logout">log out</a><br>

  <a href="pet/add">add pet</a><br>


</div>

