{{>menu}}
<div class="user-profile">
  <h1 class="my-name">{{username}}</h1>
  {{#if pets}}
    <h4 class="user-subtitles">Your Pet:</h4>
  {{/if}}

  {{#each pets}}
  {{>petcard}}
  <form action="/user-profile/delete/{{_id}}" method="POST">
    <button class="button btn-profile" type="submit">DELETE PET</button>
  </form>

  {{#unless isPending}}
  {{#if isAvailable}}
    <h4 class="user-subtitles">You have a new request!</h4>
    <p>Do you wannt to accept?</p>
    <div class="confirm">
      <form action="pet/user-profile/request/accept/{{_id}}" method="POST">
        <button class="button btn-profile confirm" type="submit">YES!</button>
      </form>
      <form action="pet/user-profile/request/decline/{{_id}}" method="POST">
          <button class="button btn-profile confirm no" type="submit">NO!</button>
      </form>
    </div>
    {{/if}}
  {{/unless}}

  {{#unless isAvailable}}
    <p>accepted</p>
    <h2 class="my-name message" >YOU HAVE SHARED THE LOVE </h2>
  {{/unless}}

  {{/each}}

  {{#each requested}}
  {{#unless isPending}}
  <h2>Requested Pet</h2>
  <p>{{petName}}</p>
  <img class="pet-details-img details" src="{{this.picture}}">
  {{#unless isAvailable}}
    <h3 class="my-name message" >Ready for some loving from {{petName}}</h3>
  {{/unless}}
  {{/unless}}

  {{/each}}
</div>
